page-counter {

  ion-content{
    background-image: url('assets/imgs/bg.png');
  }

    .centralizado {
        text-align: center;
        font-size: large;
    }
    .contador {
        text-align: center;
        font-size: 150px;
        color: crimson;
        text-shadow: 3px 2px black;
    }
}



.botao {
  width: 145px;
}
