page-home {

  .bg-image {
    background-image: url('../assets/imgs/meeple.jpg') !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .bg {
    background-image: url('../assets/imgs/bg.png') !important;
    background-size: cover;
    background-position: center;
  }

  .msgInicio {
    box-shadow: 3px 3px 3px 2px black;
    background-position: bottom;
    margin-top: 150px;
  }

  .textoCinza {
    color: rgb(220, 220, 220);
    text-shadow: 2px 1px black;
  }

}
